*.class
StrategySimulatorJAVA/TradingStrategyTester/src/datacollection/CurrencyCourseOHLC.java
StrategySimulatorJAVA/TradingStrategyTester/src/datacollection/CurrencyCourseOHLC.java
StrategySimulatorJAVA/TradingStrategyTester/src/simulation/CopyOfStrategySimulation.java
StrategySimulatorJAVA/TradingStrategyTester/src/strategies/JapaneseCandlesticksStrategy.java
StrategySimulatorJAVA/TradingStrategyTester/src/main/Start.java
StrategySimulatorJAVA/TradingStrategyTester/src/simulation/StrategySimulation.java
JavaInterfaceForMT4/javaInterface.ex4
JavaInterfaceForMT4/javaInterface.mq4